.sectionRight {
    width: 50%;
}
.skills img {
    border-radius: 50%;
    height: 55px;
    box-shadow: 0 0 2px whitesmoke;
    margin: 1%;
}
#headshot {
    border-radius: 50%;
    width:25%;
    height:25%;
}
.aboutMePageWrap {
    background: linear-gradient(#1C2541, #3A506B);
}
.AboutMeBody {
    color: white;
    margin-top: 10%;
}