.aboutSectionRight {
    width: 25%;
    margin-right: 10%;
    padding-bottom: 10%;;
}
.skills img {
    border-radius: 50%;
    height: 55px;
    box-shadow: 0 0 2px whitesmoke;
    margin: 1%;
}
#headshot {
    border-radius: 50%;
    width:55%;
    height:55%;
}
.aboutMePageWrap {
    background: linear-gradient(#1C2541, #3A506B);
}
.AboutMeBody {
    color: white;
    margin-top: 10%;
}
.skills li {
    display: flex;
    justify-content: space-evenly;
}
.skills li div h4 {
    padding-left: 10%;
}
.skills li div p {
    text-align: center;
    color: red;
    font-style: italic;
}
.mainSection {
    width: 100%;
}
.innerDiv {
    display: flex;
}