
.projectWrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
}
.projectLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.projectRight {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 10%;
}
.innerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;
    bottom:0;
}
.projectLinks {
    display: flex;
    justify-content: space-around;
}
.projectLinks a {
    color: white;
}
.projectImgDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.projectImgDiv img {
    width: 60%;
}