.headWrap {
    padding-left: 2%;
    padding-right: 2%;
    display:flex;
    justify-content: space-around;
}
.headRight {
    right: 2%;
    position: fixed;
    z-index: 1000;
}
.headRight ul {
    display: flex;
    list-style: none;
}
.headLeft {
    padding: 1.5%;
    left: 2%;
    position: fixed;
    z-index: 1000;
}
.headerIcon {
    height: 15%;
}
