.headWrap {
    padding-left: 2%;
    padding-right: 2%;
    display:flex;
    justify-content: space-between;
}
.headRight {
    right: 4%;
    position: fixed;
    z-index: 1000;
}
.headRight ul {
    display: flex;
    list-style: none;
}
.headRight ul li {
    padding-left: 7px;
    padding-right: 25px;
}
.headLeft {
    padding: 1.5%;
    left: 2%;
    position: fixed;
    z-index: 1000;
}
