.lightBoxWrap {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.75);
    width: 80vw;
    height: 80vh;
    display: none;
    z-index: 1001;
    margin-top: 10vh;
}
.lightBoxBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
    margin-top: 2.5%;
}
#closeIcon {
    width: 5%;
    margin-left: 100%;
    padding: 1%;
}
#closeIcon:hover {
    cursor: pointer;
}
.lightBoxContainer {
    background-color: white;
    color: black;
}
#lightboxReturn {
    color: blue;
}
#lightboxReturn:hover {
    cursor: pointer;
}
.lightBoxText {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.lightBoxText a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}
#lightboxWalker {
    width: 35%;
    position: absolute;
    right: -17%;
    bottom: -6.5%;
}
@media (max-width: 900px) {
    .lightBoxWrap {
        height: 75vh
    }
}