.sectionWrap {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-items: center;
}
.socialLinks {
    display: flex;
    width: 50%;
    margin-left: 25%;
    justify-content: space-evenly;
}
.moreBtn {
    background-color: red;
    color: white;
    height: 2.5em;
    border-radius: .5em;
}
.moreBtn:hover {
    cursor: pointer;
}
#githubSocial {
    border-radius: 50%;
    height: 25%;
    width: 25%;
}
#linkedinSocial {
    border-radius: 15%;
    height: 25%;
    width: 25%;
}
.SectionIconLink {
    height: 25%;
    overflow: hidden;
}
.SectionIconLink a {
    color: white;
}
